* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.player {
  display: flex;
  background-image: radial-gradient(
    farthest-corner circle at 100% 0% in oklab,
    oklch(44% 0.03 204) 0%,
    oklch(32% 0.03 244) 100%
  );
}
.containerAlbumImg {
  width: 40vw;
  height: 90vh;
  justify-content: center;
  box-shadow: 5px 2px 3px black;
  border: solid 1px black;
  border-radius: 20px;
  background-image: radial-gradient(
    farthest-corner circle at 100% 0% in oklab,
    oklch(44% 0.03 204) 0%,
    oklch(32% 0.03 244) 100%
  );
}
.showSongs {
  color: white;
  background-color: transparent;
  border-radius: 5px;
  margin: 10px 40%;

}
.albumImg {
  margin: 10px 20%;
  width: 60%;
  height: auto;
  background-color: white;
  border-radius: 10px;
}
.containerAlbumImg h1 {
  margin: 10px 20%;
  text-align: center;
}


.playlistContainer {
  width: 60vw;
  height: 90vh;
  overflow: auto;
}
.playlistContainer img {
  width: 15vw;
  height: auto;
  border-radius: 10%;
  margin: 10px 15px 10px -5px;
}
.playlistContainer table {
  margin: 10px;
  overflow: hidden;
  width: 98%;
}
.playlistContainer tr {
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  border-radius: 20px;
  border: solid 1px black;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 5px 10px black;
  padding: 0 15px;
  position: relative;
}
.playlistContainer td {
  width: 30%;
  height: 40px;
  justify-content: center;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 1px 5px 10px black;
  padding: 10px 0;
}
.playlistContainer button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40px;
  top: 1px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px black;
  background-color: rgb(126, 58, 58);
}
.playerSong {
  background-color: grey;
  border: solid black;
  display: flex;
  width: 100vw;
  height: 10vh;
}
.playerSongImg {
  height: 90%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 5px;
  border-radius: 5px;
}
.controller {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 5%;
  height: 40px;
  fill: white;
  filter: drop-shadow(0 0 0.9rem black);
}
.button-play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 3px;
  width: 55px;
  height: 55px;
  background-color: black;
  fill: white;
}
#barra{
  position:relative;
  height:5px;
  width:800px;
  border:solid 1px #ccc;
  border-radius: 10px;
  margin-right: 10px;
}
#progreso{
  position:absolute;
  height:100%;
  width: 0%;
  background:#0F0;
}